@import "styles/_variables.scss";

.button {
  height: 2.5rem;
  width: 4rem;
  background-color: $color-3;
  border: 2px solid $color-1;
  border-radius: $borderRadius;
  font-size: $fontSize;
  cursor: pointer;

  &:hover {
    border-color: $black
  }
}
