@import "styles/_variables.scss";

.container {
  width: 100%;
  padding: $padding;
  margin: $margin auto 0;

  @media screen and (min-width: 730px) {
    width: 700px;
  }

  &.withColor {
    border: 2px solid $color-1;
    border-radius: $borderRadius;
    background-color: $color-5;
  }
}
