@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "reset.scss";
@import "_variables.scss";

html,
body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: $color-6;
}

h1 {
  font-size: $heading;
}

h2 {
  font-size: $heading2;
}

small{
  font-size: $smallSize;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.d-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.justify-content-start {
    justify-content: flex-start;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-between {
    justify-content: space-between;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-end {
    align-items: flex-end;
  }

  &.align-items-center {
    align-items: center;
  }

  & .flex-1 {
    flex: 1;
  }
}

.p-1 {
  padding: $padding;
}

.p-2 {
  padding: $padding2;
}

.p-3 {
  padding: $padding3;
}

.m-1 {
  margin: $margin;
}

.m-2 {
  margin: $margin2;
}

.m-3 {
  margin: $margin3;
}

.mt-1 {
  margin-top: $margin;
}

.mt-3 {
  margin-top: $margin3;
}

.ml-3 {
  margin-left: $margin3;
}

.mb-2 {
  margin-bottom: $margin2;
}

.mb-3 {
  margin-bottom: $margin3;
}

.cursor-pointer {
  cursor: pointer;
}